<!-- Create your form here -->
<h1> Student Form </h1>

<form>
  
  <label>Student Names:</label><br>
  
  <input type="text" id="first_name" name="student[first_name]"><br>
  <input type="text" id="last_name" name="student[last_name]"><br>
  <%binding.pry%>
  <input type="submit" id ="Submit Student" value="Submit Student">

</form>
